# Configuration for using Open Wake Work with Rhasspy voice assistant

mqtt:
  broker: 127.0.0.1
  port: 1883
  username: mymqttusername  # Login to broker. Delete if not required
  password: mymqttpassword  # Login to broker. Delete if not required

# Open Wake Word config
# https://github.com/dscripka/openWakeWord#recommendations-for-usage
oww:
  activation_threshold: 0.5
  vad_threshold: 0.5
  enable_speex_noise_suppression: false
  activation_ratelimit: 5  # Only 1 activation will be sent to Rhasspy in 5 seconds

rhasspy:
  audio_udp_port: 12202  # Port that Rhasspy streams audio on, https://rhasspy.readthedocs.io/en/latest/tutorials/#udp-audio-streaming

