# Configuration for using Open Wake Work with Rhasspy voice assistant

# MQTT broker config
# If running Rhasspy in Docker you'll need to run your own MQTT broker
# and set Rhasspy MQTT to `external`.
mqtt:
  broker: 127.0.0.1
  port: 1883
  username: mymqttusername  # Login to broker. Delete if not required
  password: mymqttpassword  # Login to broker. Delete if not required

# Open Wake Word config
oww:
  activation_samples: 3  # Number of samples in moving average
  activation_threshold: 0.7  # Trigger wakeword when average above this threshold
  deactivation_threshold: 0.2  # Do not trigger again until average falls below this threshold
  # OWW config, see https://github.com/dscripka/openWakeWord#recommendations-for-usage
  vad_threshold: 0.5
  enable_speex_noise_suppression: false

# Rhasspy microphone UDP ports, 1 per device/satellite
# https://rhasspy.readthedocs.io/en/latest/tutorials/#udp-audio-streaming
udp_ports:
  base: 12202  # Delete or change as needed
  kitchen: 12203  # Delete or change as needed
  bedroom: 12204  # Delete or change as needed
